.practice-main-content {
    width: 70%;
    float: right;
    padding-left: 30px;
    color: $color-dark-grey;
    box-sizing: border-box;

    h1 {
        text-transform: uppercase;
        margin: 0;
        font-weight: 200;
        font-size: 27px;
        letter-spacing: 3px;
    }

    p {
        line-height: 1.6;
    }

    .practice-page-image {
        @include clearfix;
        background-color: $color-white;
        padding: 5px;
        border: 1px solid $color-shadow-grey;
        float: left;
        margin: 10px;
    }

    img {
        width: 100%;
        float: left;
        box-shadow: 0 0 5px 0 rgba($color-black, .5);
    }
}
