.testimonial-item {
    h2 {
        font-size: 19px;
        text-transform: uppercase;
        margin: 0;
        color: $color-main-green;
        font-weight: 400;
        margin-bottom: 32px;
    }

    p {
        font-size: 14px;
        color: $color-dark-grey;
        line-height: 1.6;
        font-family: $secondary-font-stack;
    }

    cite {
        float: right;
        font-size: 14px;
        color: $color-dark-grey;
        font-family: $secondary-font-stack;
        font-style: normal;

    }
}
